@mixsin m {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fueltime__wrapper {
    display: flex;
    justify-content: space-between;
    align-content: inherit;
    flex-direction: row;
}

.fueltime__list {
    display: flex;
    justify-content: space-between;
    align-content: inherit;
    flex-direction: row;
    @include m();
}

.fueltime__title {
    max-width: 738px;
    width: 100%;
    color: #12142d;
    font-family: "Geologica Cursive";
    font-size: 68px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 81.6px */
}